{{define "frameworkTemplate"}}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/css490.css" />
    {{template "headTemplate"}}
  </head>
  <body>
    <div class="logo">
      &nbsp;
    </div>
    <hr class="logo" />
    {{template "menu"}}
    {{template "contentTemplate" .}}
    {{template "menu"}}

  </body>
</html>
{{end}}

{{define "menu"}}
<div class="menu"><p>
    <a href="/">Home</a> | <a href="/time">Time</a> | <a href="/logout">Logout</a> | <a href="https://github.com/cicigo/uwb-css490">About Us</a>
</p></div>

{{end}}
